<div class="form-container">
  <div class="form-header">
    <h1>Modulo di Registrazione</h1>
    <p>Compila tutti i campi obbligatori per procedere</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <app-personal-info [formGroup]="form" [submitted]="submitted"></app-personal-info>
    <app-address [formGroup]="form" [submitted]="submitted"></app-address>
    <app-car-data [formGroup]="form" [submitted]="submitted"></app-car-data>
    <app-privacy [formGroup]="form" [submitted]="submitted"></app-privacy>

    <!-- Pulsanti -->
    <div class="form-actions">
      <p-button [disabled]="isFormInvalid()">Invia</p-button>
      <p-button (click)="reset()">Ripristina</p-button>
    </div>
  </form>
</div>
