<div class="w-screen p-8">
  <div class="form-header">
    <h1>Modulo di Registrazione</h1>
    <p>Compila tutti i campi obbligatori per procedere</p>
  </div>

  <form (ngSubmit)="onSubmit()" class="form">
    <div class="w-full h-100">
      <swiper-container slides-per-view="1" #swiperContainer>
        <swiper-slide>
          <app-personal-info [formGroup]="personalInfoForm" [submitted]="submitted"></app-personal-info>
        </swiper-slide>
        <swiper-slide>
          <app-address [formGroup]="addressForm" [submitted]="submitted"></app-address>
        </swiper-slide>
        <swiper-slide>
          <app-car-data [formGroup]="carDataForm" [submitted]="submitted"></app-car-data>
        </swiper-slide>
        <swiper-slide>
          <app-privacy [formGroup]="privacyForm" [submitted]="submitted"></app-privacy>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Pulsanti -->
    <div class="form-actions">
      <p-button [disabled]="isFirstSlide()" (click)="prevSlide()">Indietro</p-button>
      @if(isLastSlide()){
      <p-button [disabled]="!isSlideFormInvalid()" (click)="onSubmit()">Invia</p-button>
      } @else {
      <p-button [disabled]="!isSlideFormInvalid()" (click)="nextSlide()">Avanti</p-button>
      }
    </div>
  </form>
</div>
